table {
    border-collapse: collapse;
}

thead tr:first-child {
    background-color: #363049;
    color: white;
    
}

thead tr th {
    padding: 10px;
}

th:first-child, td:first-child {
    padding-left: 10px;
}

thead tr:first-child th {    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 100;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

thead tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

table {
    background-color: #fafafa;
    box-shadow: 2px 2px 20px grey;
}

tbody tr:hover {
    background-color: #7156ca;
    color: white;
}

.pagination {
    text-align: center;
}

.pagination ul {
    list-style: none;    
}

.pagination ul li{
    display: inline;
    margin: 10px;
}