<div>
    <input type="button" value="Clear filters" ng-click="clearFilters()">
        <table>
                <thead>
                    <tr>
                        <th ng-repeat="header in data.headers">{{header.name}}</th>
                    </tr>
                    <tr>
                        <th ng-repeat="header in data.headers">
                            <div ng-switch on="header.filter.type">
                                <input type="text" ng-switch-when="text" ng-model="filters[header.data]" ng-change="filterData(header.data, header.filter.type)">
                                <select ng-switch-when="list" ng-model="filters[header.data]" ng-change="filterData(header.data, header.filter.type)">
                                    <option ng-repeat="filterOption in header.filter.options" ng-value="filterOption">{{filterOption}}</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataRow in filteredData">
                        <td ng-repeat="(key, value) in dataRow">{{value}}</td>
                    </tr>
                </tbody>
            </table>
</div>

